.idea

backend/target
backend/data
backend/raw_songs
backend/*.mp3
backend/radio.db
backend/radio.db-shm
backend/radio.db-wal
backend/identifier.sqlite
backend/.env

frontend/node_modules
frontend/.pnp
frontend/.yarn/*
frontend/!.yarn/patches
frontend/!.yarn/plugins
frontend/!.yarn/releases
frontend/!.yarn/versions
frontend/coverage
frontend/.next/
frontend/out/
frontend/build
frontend/.DS_Store
frontend/*.pem
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*
frontend/.env*
frontend/.vercel
frontend/*.tsbuildinfo
frontend/next-env.d.ts