[Unit]
Description=Wavy Backend
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/www/Wavy/backend
ExecStart=/var/www/Wavy/backend/target/release/Wavy
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
