[Unit]
Description=Wavy Backend
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/Wavy/backend
ExecStart=/root/apps/Wavy/backend/target/release/Wavy
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
